@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground: 10 10 10;
  --muted-foreground: 115 115 115;
}

.dark {
  --foreground: 250 250 250;
  --muted-foreground: 163 163 163;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--foreground));
}
